*{
    margin: 0;
    padding: 0;

}
.navigation{
    background-color: var(--background-color);
    height: 74px;
    display: flex;
    justify-content: space-between;
    font-family: var(--font2);
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.navigation a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.navigation a:hover{
    color: red;
}
.navigation .header-elements{
    font-size: 22px;
    font-family: var(--font5);
}
@media(min-width:700px){
    .navigation{
        display: flex;
    }
    .navigation > *{
        flex: 1 1 auto;
    }

    .left ul{
        display: inline-flex;
        flex-direction: row;
        gap: 15px;
        flex-wrap: wrap;
    }
    .toggle-showcase {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .middle{
        font-size: 30px;
        font-family: var(--font1);
    }
    .middle button{
        display: none;
    }
    .middle, .right, .left ul{
        margin: 25px;
    }
    .left ul li {
        list-style-type: none;
        margin-top: 15px;
        margin-right: 20px;
    }
    .right{
        display: inline-flex;
        max-width: 20%;
        height: 45%;
    }
    .btn{
        width: 20%;
    }
    .right input{
        border-radius: 8px;
        padding: 8px;
        border: 1px solid white(0, 0, 0);
        background: #f1f1f1;
        color: black;
        width: 85%;
    }
}
.content a{
    /* font-size: 20px; */
    text-decoration: none;
    color: black;
}

@media(max-width:700px){
    .middle {
        padding: 10px 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 30px;
        font-family: var(--font1);
    }
    .middle button:hover{
        cursor: pointer;
        color: red;
    }
    .navigation{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: fit-content;
    }
    .left{
        text-align: center;
    }
    .left ul li {
        list-style: none;
        padding: 4px 0;
    }
    .right{
        text-align: center;
        /* display: flex; */

    }
    .right input{
        max-width: 300px;
        padding: 8px;
        border-radius: 3px;
    }
    .toggle-button{
        width: 50px;
        background-color: var(--background-color);
        border: none;
    }
    .toggle{
        width: 30px;
        text-align: center;
        font-size: 30px;
    }
}
