@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Hammersmith+One&display=swap');

/* Defining some global variables */
:root{
    --font1: 'Pacifico', cursive;
    --font2: 'Rubik', sans-serif;
    --font3: 'Kanit', sans-serif;
    --font4: 'Concert One', cursive;
    --font5: 'Hammersmith One', sans-serif;
}

    .max-width-0{
        max-width: 94vw;
    }
    .max-width-1{
        max-width: 70vw;
    }
    .m-auto{
        margin: auto;
    }
.btn{
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(45, 148, 238);
    color: white;
    /* border: 2px solid rgb(0, 0, 0); */
}
.btn:hover{
    background-color: rgb(23, 56, 83);
    cursor: pointer;
}
a:hover{
    color: rgb(13, 62, 109);
}